* { margin: 0px; padding: 0px; }
body {
    background: #f0f1f2;
    font:12px "Open Sans", sans-serif; 
}

#dashboard{
    width:480px;
    background: #fff;
    border-radius:6px;
    overflow:hidden;
    height:854px;
    position:absolute;
    top:100px;
    left:50%;
    margin-left:40px;
}

#dashboard p{
    display: block;
    color:#597a96;
    font-size:20px;
    font-weight: 600;
    margin-left: 40px;
}


#navbar {
    width: 100%;
    height: 100px;
    margin-top: 40px;
}

.nav {
    height: 60px;
    width: 180px;
    float: left;
    margin-left: 40px;
    margin-top: 20px;
    text-align: center;
    background-color: #eee;
}

.nav:hover {
    background-color: #ddd;
}

.nav a {
    width: 180px;
    line-height: 60px;
    font-size:20px;
    color:#597a96;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
}

#wordcloud {
    width: 400px;
    margin-top: 40px;
    height: 714px;
}

#wordcloud img {
    display: none;
    margin-top: 40px;
    margin-left: 40px;
    max-width:100%;
    max-height:100%;
}

#chatbox{
    width:480px;
    background: #fff;
    border-radius:6px;
    overflow:hidden;
    height:854px;
    position:absolute;
    top:100px;
    right:50%;
    margin-right:40px;
}

#holder {
    position: absolute;
    width: 100%;
    height: 100%;
    background:#fff url("../img/entrance_bg.jpg") 0 0 no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
}

#entrances{
    position: absolute;
    width: 100%;
    height: 100%;
}

.entrance{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:150px;
    height:150px;
    float:left;
    position:relative;
}

.entrance:hover{
    border-radius: 50%;
    background:#f1f4f6;
    cursor:pointer;
}
.entrance img{
    width:150px;
    border-radius:50%;
    margin:15px;
    float:left;
}
.floatingImg{
    width:100px;
    border-radius:50%;
    position:absolute;
    top:0;
    left:0px;
}
.entrance p{
    margin-top: 50px;
    margin-bottom: -45px;
    display:block;
    widows:100px;
    text-align: center;
}
.entrance p strong{
    width: 100%;
    font-weight:600;
    font-size:20px;
    color:#597a96;  
    text-align: center;
}
.entrance p span{
    width: 100%;
    font-size:14px;
    font-weight:400;
    color:#aab8c2;
    text-align: center;
}
.entrance .status{
    background:#26c281;
    border-radius:50%;  
    width:9px;
    height:9px;
    position:absolute;
    top:31px;
    right:17px;
}
.entrance .status.away{background:#ffce54;}
.entrance .status.inactive{background:#eaeef0;}
#messageview{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0; 
    display:none;
    background:#fff;
}
#title{
    height:200px;
    overflow:hidden;
    text-align:center;
    color:#fff;
}
.p1 #title{
    background:#fff url("../img/chat_bg.jpg") 0 0 no-repeat;
    background-size: cover;
    background-position: center;
}
#title .avatar{
    width:68px;
    border:3px solid #fff;
    margin:23px 0 0;
    border-radius:50%;
}
#title  p{
    font-weight:600;
    font-size:30px;
    margin:118px 0 -1px;
    opacity:0;
    -webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
       -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
         -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000); 
}
#title  p.animate{
    margin-top:80px;
    opacity:1;
    -webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
       -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
         -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000); 
}
#title  span{
    font-weight:400;
    font-size:18px;
}
#chat-messages{
    opacity:0;
    margin-top:10px;
    width:100%;
    height:600px;
    overflow-y:scroll;  
    overflow-x:hidden;
    padding-right: 20px;
    -webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
       -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
         -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}
#chat-messages.animate{
    opacity:1;
    margin-top:0;
}
#chat-messages label{
    color:#aab8c2;
    font-weight:600;
    font-size:12px;
    text-align:center;
    margin:15px 0;
    width:100%;
    display:block;  
}
#chat-messages div.message{
    padding:0 0 30px 58px;
    clear:both;
    margin-bottom:45px;
}
#chat-messages div.message.right{
      padding: 0 58px 30px 0;
      margin-right: 0px;
      margin-left: 19px;
}
#chat-messages .message img{
    content: url("../img/receiver.jpg");
    float: left;
    margin-left: -38px;
    border-radius: 50%;
    width: 30px;
    margin-top: 12px;
}
#chat-messages div.message.right img{
    content: url("../img/sender.jpg");
    float: right;   
    margin-left: 0;
    margin-right: -38px;    
}
.message .bubble{   
    background:#f0f4f7;
    font-size:13px;
    font-weight:600;
    padding:12px 13px;
    border-radius:5px 5px 5px 0px;
    color:#8495a3;
    position:relative;
    float:left;
}

#chat-messages div.message.right .bubble{
    float:right;
    border-radius:5px 5px 0px 5px ;
}
.bubble .corner{
    background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-corner.png") 0 0 no-repeat;
    position:absolute;
    width:7px;
    height:7px;
    left:-5px;
    bottom:0;
}
div.message.right .corner{
    background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-cornerR.png") 0 0 no-repeat;
    left:auto;
    right:-5px;
}
.bubble span{
      color: #aab8c2;
      font-size: 11px;
      position: absolute;
      right: 0;
      bottom: -22px;
}
#sendmessage{
    height:60px;
    border-top:1px solid #e7ebee;   
    position:absolute;
    bottom:0;
    right:0px;
    width:100%;
    background:#fff;
    padding-bottm:50px;
}
#sendmessage input{
    border:none;
}

#sendmessage input{
    background:#fff;
    margin:21px 0 0 21px;
    border:none;
    padding:0;
    font-size:14px;
    font-family:"Open Sans", sans-serif; 
    font-weight:400px;
    color:#aab8c2;
}

#sendmessage input:focus{
     outline: 0;
}
#sendmessage button{
    background:#fff url("../img/heart.png") 0 no-repeat;
    background-size: 30px 30px;
    width:30px;
    height:30px;
    position:absolute;
    right: 15px;
    top: 15px;
    border:none;
}
#sendmessage button:hover{
    cursor:pointer;
    background-position: 0 0 ;
}
#sendmessage button:focus{
     outline: 0;     
}

#close{
    position:absolute;
    top: 8px;   
    opacity:0.8;
    right: 10px;
    width:20px;
    height:20px;
    cursor:pointer;
}
#close:hover{
    opacity:1;
}
.cx, .cy{
    background:#fff;
    position:absolute;
    width:0px;
    top:15px;
    right:15px;
    height:3px;
    -webkit-transition: all 250ms ease-in-out;
       -moz-transition: all 250ms ease-in-out;
        -ms-transition: all 250ms ease-in-out;
         -o-transition: all 250ms ease-in-out;
            transition: all 250ms ease-in-out;
}
.cx.s1, .cy.s1{ 
    right:0;    
    width:20px; 
    -webkit-transition: all 100ms ease-out;
       -moz-transition: all 100ms ease-out;
        -ms-transition: all 100ms ease-out;
         -o-transition: all 100ms ease-out;
            transition: all 100ms ease-out;
}
.cy.s2{ 
    -ms-transform: rotate(50deg); 
    -webkit-transform: rotate(50deg); 
    transform: rotate(50deg);        
    -webkit-transition: all 100ms ease-out;
       -moz-transition: all 100ms ease-out;
        -ms-transition: all 100ms ease-out;
         -o-transition: all 100ms ease-out;
            transition: all 100ms ease-out;
}
.cy.s3{ 
    -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
    transform: rotate(45deg);        
    -webkit-transition: all 100ms ease-out;
       -moz-transition: all 100ms ease-out;
        -ms-transition: all 100ms ease-out;
         -o-transition: all 100ms ease-out;
            transition: all 100ms ease-out;
}
.cx.s1{ 
    right:0;    
    width:20px; 
    -webkit-transition: all 100ms ease-out;
       -moz-transition: all 100ms ease-out;
        -ms-transition: all 100ms ease-out;
         -o-transition: all 100ms ease-out;
            transition: all 100ms ease-out;
}
.cx.s2{ 
    -ms-transform: rotate(140deg); 
    -webkit-transform: rotate(140deg); 
    transform: rotate(140deg);       
    -webkit-transition: all 100ms ease-out;
       -moz-transition: all 100ms ease-out;
        -ms-transition: all 100ease-out;
         -o-transition: all 100ms ease-out;
            transition: all 100ms ease-out;
}
.cx.s3{ 
    -ms-transform: rotate(135deg); 
    -webkit-transform: rotate(135deg); 
    transform: rotate(135deg);       
    -webkit-transition: all 100ease-out;
       -moz-transition: all 100ms ease-out;
        -ms-transition: all 100ms ease-out;
         -o-transition: all 100ms ease-out;
            transition: all 100ms ease-out;
}
#messageview, #sendmessage { 
    overflow:hidden; 
    border-radius:6px; 
}